/* Estilos do formulário de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
}

.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #303030;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #303030;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn-login {
    background-color: #00a202;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: rgb(3, 93, 3);
}

.links {
    margin-top: 20px;
}

.links a {
    color: #00a202;
    font-size: 0.9rem;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Estilos de responsividade */
@media (max-width: 480px) {
    .login-form {
        width: 90%;
    }
}
