*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

header > input {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
   
}

.grid-header{
    display: grid;
    padding-bottom: 30px;
    margin-bottom: 40px;
    background-color: #244064;
    color: rgb(255, 255, 255);
    
    
}

.logo{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 1;
    grid-row: 1;
    width: 80px;

}

.caixa-busca{
    grid-column: 13;
    grid-row: 2;

}


.svg {
    fill: currentColor;
    margin-top: 21px;
    margin-right: -18px;
    width: 30px;
    color: white;
   
    
}

#svg{
    grid-column: 14;
    grid-row: 1;
}

.login {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    grid-column: 15;
    grid-row: 1;
    font-size: 13px;
    align-items: center;
    text-transform: uppercase;
    
}

#login{
    padding-top: 20px;
}

.carrinho{
    width: 170px;
    height: 40px;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    transition-duration: 0.5s;
    grid-column: 16;
    grid-row: 1;

}

.carrinho:hover{
    background-color: rgb(3, 93, 3);
    border-radius: 10px;

}

#carrinho{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;

}

nav {
    background-color: #244064;
}

nav > a {
    text-decoration: none;
    text-align: right;
}

.grid-nav{
    display: grid;
    margin: 0 auto;
    
}

.grid-body{
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    gap: 10px;
    row-gap: 30px;
}

.grid-body div {
    padding: 30px;
}

.caixa1{
    grid-column: 1;
    grid-row: 3;
    width: 50%;   
    background-color: white;
    border-radius: 10px;

}

.caixa2{
    grid-column: 1;
    grid-row: 4;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.caixa3{
    grid-column-start : 2;
    grid-row-end: 5;
    width: 50%;
    background-color: white;
    border-radius: 10px;

}

.caixa4{
    grid-column-start: 2;
    grid-row-end: 4;
    width: 50%;
    background-color: white;
    border-radius: 10px;

}  

#destaques {
    margin: 0 auto;    
}

#destaques > img{
    width: 200px;
    height: 200px;
}

aside input {
    width: 200px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
}
aside button {
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
}
.contato{
    text-align: center;
    
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}