@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    background-color: rgb(230, 230, 230);

}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    color: rgb(255, 255, 255);
    background-color: #303030;
    
}

.enviar-pesquisa {
    position:absolute;
    top:0; right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;

}
  
.pesquisa {
    position: relative;
    width: 700px;
    box-shadow: #00000073 2px 2px 20px;
    border-radius: 10px;
}
  
.pesquisa input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 5px;
    background-color: #424242;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}

.icone-svg-pesquisa {  
    width: 25px;
    padding: 9px;
    padding-top: 11px;
    fill: currentColor;
    color: white;

}


button {
    color: white;
    cursor: pointer;

}

.logo{
    width: 210px;

}

.svg-conta {
    display: flex;
    position: absolute;
    margin-left: -33px;
    width: 30px;
    fill: currentColor;
    color: white;
    
    
}

.login {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition-duration: 0.5s;
    
    
}

.carrinho{
    background-color: #00a202;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.429) 2px 2px 10px;

}

.carrinho:hover {
    background-color: rgb(3, 93, 3);
    border-radius: 10px;

}

#carrinho {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;    

}

.grid-body {
    display: grid;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    row-gap: 30px;
}

.grid-body div {
    padding: 30px;
}

.card1 {
    width: 50%;   
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column: 1;
    grid-row: 3;

}

.card2 {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column: 1;
    grid-row: 4;
    
}

.card3 {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column-start : 2;
    grid-row-end: 5;
    
}

.card4 {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column-start: 2;
    grid-row-end: 4;
   
} 

.card5 {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column-start: 3;
    grid-row-end: 4;

}

.card6 {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    grid-column-start: 3;
    grid-row-end: 5;

}

#destaques {
    margin: 0 auto;    
}

#destaques > img{
    width: 100%;

}

.prod {
    color: #303030;
    font-size: 0.75rem;
    text-decoration: none;

}

.ticard {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: black;
}

.preco {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    color: #00a202;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
}

.txcard {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    height: 0.75rem;
    color: rgb(127, 133, 141);

}


footer {
    margin-top: 10px;
    color: white;
    background-color: #424242;
    text-align: center;
    
}

footer input {
    width: 200px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    
}
footer button {
    width: 70px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 0px 10px 10px 0px;

}

.menu-final {
    margin-top: 4em ;
    display: flex;
    align-content: space-between;

}

.contato{
    text-align: center;
    
}

.rodape {
    background-color: #424242;

}